odd/minkeiki.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>民経記ODD <desc>民経記用のODDファイルです。</desc>
                </title>
                <title type="short">MIN</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <pb:behaviour ident="glossary" output="latex">
                    <pb:param name="id" value="@xml:id"/>
                    <pb:param name="name"/>
                    <pb:param name="note"/>
                    <pb:template>\newglossaryentry{[[id]]} {
                        name=[[name]],
                        description={[[note]]}
                        }</pb:template>
                </pb:behaviour>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-08-05+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="graves" source="teipublisher.odd">
                <elementSpec ident="name" mode="change">
                    <model behaviour="webcomponent">
            <param name="name" value="'pb-keyword'"/>
            <param name="content" value="."/>
            <param name="emit" value="'letter'"/>
            <param name="url" value="concat(&#34;https://w3id.org/hi/snorql/?describe=https://w3id.org/hi/api/term/keyword/&#34;, substring-after(@nymRef, '#'))"/>
            <outputRendition xml:space="preserve">
            
            
            color: red;
cursor: pointer;
            
            
            </outputRendition>
        </model>
                </elementSpec>
                
            <elementSpec ident="persName" mode="add">
                    <model behaviour="webcomponent">
            <param name="name" value="'pb-keyword'"/>
            <param name="content" value="."/>
            <param name="emit" value="'letter'"/>
            <param name="url" value="concat(&#34;https://w3id.org/hi/snorql/?describe=https://w3id.org/hi/api/entity/chname/&#34;, substring-after(@corresp, '#'))"/>
            <outputRendition xml:space="preserve">
            
            
            color: blue;
cursor: pointer;
            
            
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            color : grey;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content : "(";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content : ")";
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="stamp" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            color : green;
            </outputRendition>
            <outputRendition xml:space="preserve" scope="before">
            content : "(";
            </outputRendition>
            <outputRendition xml:space="preserve" scope="after">
            content : ")";
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>