odd/ner.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Retrieve text for NER model training</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change when="2019-09-22+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="ner">
             <elementSpec ident="idno" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
                 <elementSpec ident="add" mode="change">
                                     <model predicate="@type='edition'" behaviour="inline">
                                        <param name="content" value="translate(., '[]', '')"/>
                                     </model>


                    <model behaviour="inline"/>
                </elementSpec>
             <elementSpec ident="ref" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
             <elementSpec ident="facsimile" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="teiHeader" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
                <elementSpec ident="*">
                    <model behaviour="inline"/>
                </elementSpec>
              
            </schemaSpec>
        </body>
    </text>
</TEI>