odd/torii.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>鳥居ODD <desc>鳥居さん用のODDファイルです。</desc>
                </title>
                <title type="short">Torii</title>
            </titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition selector=".name">
                    color: #339900;
                </rendition>
                <rendition selector=".name.disable">
                    color: inherit;
                </rendition>
                <rendition selector=".choice,.choice-alternate">
                    color: #888888;
                </rendition>
                <rendition selector=".foreign">
                    font-weight: bold;
                </rendition>
                <rendition selector=".foreign.disable">
                    font-weight: normal;
                </rendition>
                <rendition selector=".choice-alternate">
                    display: none;
                </rendition>
                <rendition selector=".choice-alternate.toggle">
                    display: inline;
                </rendition>
                <rendition selector=".choice.toggle">
                    display: none;
                </rendition>
                <rendition selector=".lb.toggle">
                    display: none;
                </rendition>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
            <change when="2018-08-05+02:00">Initial version</change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="graves" source="teipublisher.odd">
            
            
                <elementSpec ident="name" mode="change">
                    <modelGrp>
            <model behaviour="alternate">
                <param name="default" value="."/>
                <param name="alternate" value="id(substring-after(@ref, '#'), root($parameters?root))/node()"/>
                <outputRendition xml:space="preserve">
                color : red;
                </outputRendition>
            </model>
            <model behaviour="webcomponent">
                <param name="name" value="'pb-keyword'"/>
                <param name="content" value="."/>
                <param name="emit" value="'letter'"/>
                <param name="url" value="concat(&#34;https://w3id.org/hi/snorql/?describe=https://w3id.org/hi/api/term/keyword/&#34;, substring-after(@nymRef, '#'))"/>
                <outputRendition xml:space="preserve">
                
            
            
            
            
            color: red;
cursor: pointer;
            
            
            
            
            
                </outputRendition>
            </model>
        </modelGrp>
                </elementSpec>
                
            <elementSpec ident="persName" mode="add">
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="seg" mode="change">
                    <model behaviour="inline" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            color : orange;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="stamp" mode="add"/>
            <elementSpec ident="note" mode="change">
                    <model predicate="parent::person" behaviour="inline">
            <outputRendition xml:space="preserve">
            text-variant: italic;
            </outputRendition>
        </model>
                </elementSpec>
                <elementSpec ident="rs" mode="change">
                    <model behaviour="alternate">
            <param name="alternate" value="id(substring-after(@ref, '#'), root($parameters?root))/node()"/>
            <param name="default" value="."/>
            <outputRendition xml:space="preserve">
            color : blue;
            </outputRendition>
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>